

* {
  font-family: serif;

}

body {
    line-height: 1.8;
    color: #565656;
    background-attachment: scroll;
}
hr {
    width: 50%;
    font-weight: 600;
    border: solid 2px #565656;
}

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: transparent; /* Green */
    margin-top: 15%;
    margin-bottom: 20%;
    font-size: 120px;
}
.bg-2 {
    background-color: #ea756e; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #d3d3d3; /* White */
    color: #fff;
}
.bg-4 {
    background-color: #738093; /* Black Gray */
    color: #fff;
}

.bg-5 {
  background-color: #495867;
  color: #fff;
}

.col-sm-4 {
  padding: 60px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 500;

}

.navbar-nav  li a:hover {
    color: #fff !important;
}

#home {
    font-size:72px;
}

h1 {
    font-family: "Abril Fatface", cursive;
    font-size: 72px;
}
