html {
	box-sizing: border-box;
	transition: all .3s
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #bfe8fc;
	overflow: auto;
	min-width: 405px;
}

#wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
}

.card {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 1px 4px 0 rgba(0,0,0,0.12);
	padding: 5em 2em;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: .5em;
    background-color: #fff;
    flex: 1;
    transition: all 0.1s;
}

.nav {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	display: inline-block;
	width: 100%;
	margin: .5em;
	margin-top: 5em;
    background-color: #fff; 
}

img {
	max-width: 100%;
	box-shadow: 11px 11px 12px -8px rgba(0,0,0,0.75);
	transition: all .3s;
}

img:active {
	box-shadow: none;
}

.nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.fixed-nav .nav {
	position: fixed;
	top: 0;
	margin: 0;
	max-width: 900px;

}

.big {
	flex: 2;
}



.nav li {
	flex: 3;
	padding: 2em 0;
	text-align: center;
}


.nav li:hover {
	background-color: rgba(0,0,0,0.05);
}

.fixed-nav li {
	padding 0.5em;
}

.card:hover {
	    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.16), 0 6px 14px 0 rgba(0,0,0,0.12);
}

.row {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;

}

h1 {
	font-size: 4em;
	font-weight: 400;
	margin: 0 auto;
	word-wrap: nowrap;
	border-right: .05em solid black;
	overflow: hidden;
	white-space: nowrap;
	animation: typing 1.5s steps(13, end), blink 1.60s step-end infinite;

}

a {
	text-decoration: none;
	color: black;
}

.nav .small {
	flex: 1;

}

.card h2 {
	text-align: center;
}

.scrollless {
	overflow: hidden;
	height: 100%;
}

.lang {
	flex: 1;
	padding: 1em .2em;
}

.flex-container {
	justify-content: center;
	display: flex;
	align-items: center;
}

.button:hover {
	background-color: rgba(0,0,0,0.6);

}

.button, .lang, .button:active {
	color: #fff;
	background-color: rgba(0,0,0,0.3) !important;
	text-align: center;
	width: 9em;
	border-radius: 150px;
}

img {
	object-fit: cover;
}

p {
	font-size: 1em;
	font-weight: 300;
	margin: 0.5em;
}

h2 {
	font-size: 2em;
	font-weight: 300;
	flex-shrink: 2;
}

h3 {
	font-size: 2.5em;
	font-weight: 300;
	margin: 0;
}

h4 {

}


#toggle {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: all 0.3s;
}

#overlay.open {
	visibility: visible;
	opacity: 1;
	font-size: 2em;
	color: white;
	background-color: rgba(191, 232, 252, 0.82);

	
}

#overlay-items {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 1px 4px 0 rgba(0,0,0,0.12);
	background-color: #fff;
	padding: 0;
}

#overlay ul {
	list-style: none;
	transform: translateX(-100%);
	transition: 0.5s;
}

#overlay.open ul {
	list-style: none;
	transform: translateX(0%);
}

#overlay li {
	margin: 1em 2em;
}


#overlay {
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}



@keyframes typing {
  from { width: 0 }
  to { width: 40% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

/*@media only screen and (min-width: 700px){
	#name {
		height: 70vh;
	}

}
*/

#name {
	height: 70vh;
}
@media only screen and (max-width: 700px){
	.row {
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.row > * {
		order: 999;
	}

	.row .title {
		order: 1;
	}


	.button, .lang, .button:active {
		min-width: 40%;
		max-width: 50%;
	}

	.nav {
		display: none;
	}

	#name .card {
		display: flex;
	}

	.card {
		display: block;
		text-align: center;
		width: auto;
	}

	#toggle {
		display: block;
		text-align: center;
		position: fixed;
		color: white;
		top: 25px;
		right: 25px;
		height: 70px;
		z-index: 101;
		cursor: pointer;
	}

	.bar1, .bar2, .bar3 {
		background-color: black;
		height: 4px;
		border-radius: 5px;
		transition: 0.4s;
	}

	
	.open .bar1 {
  	 	 -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
   		 transform: rotate(-45deg) translate(-6px, 6px) ;
	}


	.open .bar2 {
 		 opacity: 0;
	}


	.open .bar3 {
   		 -webkit-transform: rotate(225deg) translate(-8px, -8px) ;
   		 transform: rotate(225deg) translate(8px, 8px) ;
	}

	

	h1 {
		animation: none;
		border: none;
		font-size: 2em;
	}

	#wrapper {
		margin: 0 auto;
		width: 100%;
		position: relative;
	}
}

@media only screen and (max-width: 920px) {
	.flex-container {
		flex-direction: column;
	}
}

	/** {
		font-size: 1em;
	}

	h1 {
		animation: none;
		display: block;
		word-wrap: break-word;
	}

	.card {
		height: 100%;
	}
}*/